/* #region GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    font-size: 16px;
    font-family:"Newsreader", serif;;
}

a{
    text-decoration: none;
    color: #4F966E;
    transition: all ease-in-out 0.2s;

}

a:hover{
    color: #504f4f;
    transition: all ease-in-out 0.2s;
    outline:none;

}

input{
outline:none;

} 

::placeholder {
color: #4F966E;
}

/* #endregion GENERAL */

/* #region HEADER */

    header{
        box-shadow: 0px 0px 2px grey;
    }
    header nav{
        display: flex;
        max-width: 1280px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
    }

    #logoHeader{
        font-size: 18px;
        font-weight: bold;
        color: black;
        transition: all ease-in-out 0.2s;

    }

    #logoHeader:hover{
        color: #4F966E;
        transition: all ease-in-out 0.2s;
    }


    header nav form  {
        display: flex;
    }

    header nav form div{
        padding: 0px 20px;
        background-color: #E8F2ED;
        color: #4F966E;
        padding: 15px;
        border-radius: 30px;
    }

    header input[type=search]{
        background-color: #E8F2ED;
        color: #4F966E;
        border: none;
    }

    #loginBTN{
        margin: 0px 40px;
        background-color: #E8F2ED;
        color: black;
        font-weight: bold;
        border-radius: 30px;
        border: none;
        padding: 17px 30px;
    }
    
    #loginBTN:hover{
    color: #4F966E;
    transition: all ease-in-out 0.2s;

    }

/* #endregion HEADER */

/* #region FOOTER */

    footer div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin: 50px;
    }

    footer{
        max-width: 1280px;
        margin: auto;
        text-align: center;
        padding: 30px 0px;
    }


/* #endregion FOOTER*/

/* #region MAIN */

    #section1{
    display: flex;
    margin: auto;
    max-width: 1280px;
    padding: 60px 0px;
    justify-content: center;
    color: white;
    }
    
    #section1 div{
        background-image: url("../imgs/index/fond design.png");
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 930px;
        padding: 160px 0px 20px 0px;
        border-radius: 15px;

    }

    #section1 h1{
        font-size: 48px;
        padding: 20px 0px;
        font-weight: 800;
        
    }
    
    #section1 p {
        line-height: 1.6;
        margin-bottom: 50px;
    }

    #BTNreadMore{
        width: fit-content;
        padding: 15px 30px;
        border-radius: 30px;
        background-color: #1AE570;
        color: black;
        font-weight: 700;
    }

    #section1 article{
        padding: 50px;
    }





    #section2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    }

    #section2 h2{
        font-size: 32px;
        font-weight: bold;
        padding: 40px 0px;
    }

    #section2 a{
        height: fit-content;
        right: 10px;
        position: absolute;
        bottom: 75px;
    }

    #section2 article{
    display: grid;
    grid-template-columns: 50% 30% 20%;
    gap: 20px;
    padding-bottom: 80px;
    align-items: center;
    position: relative;
    }

    #section2 p{
        color: #4F966E;
        line-height: 24px;
    }

    #section2 h3{
        padding-bottom: 10px;
    }


    #section2 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }


/* #endregion MAIN*/

/* #region RESPONSIVE TABLET */
/* #endregion RESPONSIVE TABLET*/

/* #region RESPONSIVE PHONE */
/* #endregion RESPONSIVE PHONE*/